<% @user ||= current_user %>
<div class="small-12 medium-3 columns white-bg">
  <aside>
    <section class="text-center">
      <%= gravatar_for @user, "gravatar", size: 150 %>
    <h2>@<%= @user.name %></h2>

    <ul class="no-bullet">
      <li><%= link_to 'Tweets', user_path(@user.name) %> <%= @user.tweets.count %></li>
      <li id="following"><%= link_to "Following #{@user.followed_users.count}", following_user_path(@user) %></li>
      <li id="followers"><%= link_to "Followers #{@user.followers.count}", followers_user_path(@user) %></li>
    </ul>
    </section>

    <section class="text-center">
      <%= render 'shared/follow_form' if signed_in? %>
    </section>

  </aside>
