<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/nav' %>

    <!-- error notices -->
    <div class="row">
      <% if alert %>
        <div data-alert class="small-12 columns alert-box warning">
          <% if alert.is_a? Array %>
            <ul>
            <% alert.each do |error| %>
              <li><%= error %></li>
            <% end %>
            </ul>
          <% else %>
            <%= alert %>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>

      <% elsif notice %>
        <div data-alert class="small-12 columns alert-box">
          <%= notice %>
          <a class="close" href="#">&times;</a>
        </div>
      <% end %>
    </div>

    <%= yield %>

  <footer>
    <div class="row white-bg">
      <div class="small-12 medium-4 columns">
        <p>By Amy MacKinnon</p>
      </div>
      <nav class="small-12 medium-8 columns">
        <ul class="right inline-list">
        <% if signed_in? %>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'New Tweet', new_tweet_path %></li>
          <li><%= link_to 'Your Profile', user_path(current_user.name) %>
          <li><%= link_to 'Sign Out', session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_session_path %></li>
        <% end %>
      </ul>
      </nav>
    </div>
  </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
